<html>
	<head>
		<!--
		Basic CSS styles courtesy of 
		GitHub Primer (https://primer.github.io/)
		-->
		<link rel="stylesheet" type="text/css" href="primer-10.5.0.css">
		<style>
			img{
				width: 128px;
				border-radius: 3px;
			}
			h3{
				padding: 15px 0;
			}
			p{
				padding-bottom: 5px;
			}
		</style>
	</head>
	<body>
		<div class="p-5">
			<div class="blankslate blankslate-narrow p-9">
				Success!. You've signed your CLA as GitHub user <a href="<%= user_url %>">@<%= user_login %></a>.
			</div>
		</div>
	</body>
</html>
